.background-container {
    background-color: #373737;
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #2d2d2d;
    color: beige;
    display: inline-flex;
    flex-direction: column;
    min-width: 20em;
}

.robotHeader {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 5%;
    border-style: solid;
    border-color: #454545;
    border-radius: 10px;
}

.robotButton:hover {
    background: #454545;
}

.robotButton {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 5%;
    border-style: solid;
    border-color: #454545;
    border-radius: 10px;
    font-size: x-large;
    width: 135px;
    height: 30px;
}

.robotHeader:hover {
    background: #454545;
}

.control {
    margin: 1%;
    color: beige
}